button{
  color: rgb(255, 255, 255);
}
.bookGuessing{
  position: relative;
  overflow: hidden;
  top: 10px;
  display: grid;
  grid-template-rows: 2fr 4fr 1fr;
  height: 600px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.321);
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.599);
}
.background-pic{
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.output{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.output-top,
.output-bottom{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 25%;
  width: 95%;
  background-color: #F2A900;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 1px rgb(0, 0, 0);
}
.inputs{
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}      
.input-left,
.input-right{
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 45%;
  height: 90%;
  background-color: #F2A900;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.485);
}   
.input-left-top,
.input-left-bottom,
.input-right-top,
.input-right-bottom{
  display: flex;
  flex-direction: column;
  width: 30%;
  overflow: hidden;
}
.get-book{
  display: flex;
  justify-content: center;
  align-items: center;
}
.bookButtons{
  height: 100%;
  margin: 15px 5px;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.515);
  background-color: #888676;
  color: #000000;
  border: 0;
}
.bookButtonsRight{
  background-color: green;
}
.bookButtonsWrong{
  background-color: red;
}
.get-book-button{
  background-color: #ffb300;
  color: #000000;
  height: 50%;
  width: 95%;
  border: 0;border-radius: 3px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.485);
}